body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #2980b9, #6dd5fa);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
    text-align: center;
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    color: #555;
    font-weight: 500;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 5px;
  }
  
/* Add this CSS to your styles.css file */

/* Style for the button */
button[type="submit"] {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Change the appearance of the button when it's disabled */
button[type="submit"]:disabled {
  background-color: #dddddd; /* Light gray */
  color: #666666; /* Dark gray */
  cursor: not-allowed;
  opacity: 0.6; /* Reduced opacity */
}

  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .error-message {
    color: #d63031;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .message {
    color: #27ae60;
    font-size: 16px;
    margin-top: 20px;
  }
  
  /* Styles for dropdown list */
select {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 5px;
    appearance: none; /* Hide default arrow */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23000000' width='18px' height='18px'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E"); /* Add custom arrow */
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
}
